.moreMenu .md-grid-item-content {
    height: 96px;
}

.moreMenu .md-grid-item-content md-icon {
    height: 48px;
    width: 48px;
}

.moreMenu .md-grid-text {
    padding-bottom: 5px;
}

.card-button {
    height: 64px;
    min-width: 64px;
    font-size: 1.5em;
}

.app-line {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
}

.app-line a {
    color: #999;
    text-decoration: none;
}

.app-line a:hover {
    color: #666;
    text-decoration: underline;
}